[defaults]
interpreter_python = /usr/bin/python3
roles_path = ./roles
inventory = ./inventory/
remote_user = ansible
ask_vault_pass = False
# private_key_file = /Users/m.kucherenko/.ssh/id_rsa_tmp

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
ssh_args=-o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o ForwardAgent=yes
